body{
	font-family: 'OpenSans-Semibold',Arial,Helvetica,sans-serif;
}
.wrapper {
	max-width: 500px;
	height: 500px;
	margin: 15px auto;
	text-align: center;
	position: relative;
}
.game-title {
	font-size: 1.7em;
	margin: 15px 0;
}

.score{
	text-align: left;
}

.lives, .points {
	display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    box-sizing: border-box;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 30px;
    margin: 5px;
}

.time {
	position: absolute;
	top: 10px;
	right: 10px;
	font-size: 1.7em;
    width: 70px;
    height: 70px;
    padding: 18px 14px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 50px;
    margin: 5px;
}

.square-grid-container {
	display: flex;
	align-content: flex-start;
	flex-wrap: wrap;
	width: 70%;
	height: 70%;
	margin: 0 auto;
}
.square-grid-item {
	width: 10%;
	height: 10%;
	margin: auto;
	border: 1px solid #ccc;
	box-sizing: border-box;
}
button {
	border: 1px solid #ccc;
	background: #fff;
	font-size: 16px;
    border-radius: 5px;
    margin: 10px;
    font-weight: 600;
    padding: 10px 15px;
}
.white {
	background-color: white;
}
.green {
	background-color: green;
}